<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-container w3-blue">
  <h2 class="w3-xxlarge" style="text-align:center">Thank You For your Contribution!&#128512;</h2>
</div>
<div class="w3-display-container" style="height:600px;">

	<p style="text-align:center"><i> submission success!</i></p>
    <p style="text-align:center"><i> Write this 8-character string down in case if you want to edit your opionion </i></p>
    <p style="text-align:center"><i>{{ netid }}</i></p>
    <p style="text-align:center"><i>{{ query }}</i></p>

    <button class="w3-display-left w3-button w3-brown w3-large">Previous page</button>
    <button class="w3-display-right w3-button w3-brown w3-large">Home</button>

  </div>

</body>
</html> 
